body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.parent-box {
    width: 1000px;
    height: 500px;
    background-color: #1e1e1f; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 20px solid #fffcfe;
}
.card-container {
    position: relative;
    width: 550px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-right: 350px;
    margin-bottom: 50px;
}

.card-heading {
    position: absolute;
    width: 480px;
    height: 65px;
    top: -20px;
    left: 20px;
    background-color: #ff007f;
    color: rgb(8, 8, 8);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 40px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
    margin-top: 50px;
    align-content: center;
    margin-left: 20px;
    color: #000000;
    font-size: 23px;
    line-height: 1.5;
}